.tableContainer {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.tableRow {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tableRow:hover {
  background-color: var(--light-color);
}

.tableHeader {
  background-color: var(--primary-color) !important;
  color: var(--light-color);
  font-weight: bold;
}

.modalContainer {
  font-family: var(--font-family-sans);
}
