.wrapper {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: var(--spacer);
}

.form {
  margin-top: var(--spacer);
}

.formGroup {
  margin-bottom: var(--spacer-y);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.btnPrimary {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border: none;
  margin: var(--spacer);
  border-radius: var(--btn-border-radius);
  background-color: var(--info-color);
  color: var(--light-color);
}

.btnPrimary:hover {
  box-shadow: none;
}

.title {
  text-align: center;
  color: var(--light-color);
  margin: var(--spacer);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: center;
}

.row .btnPrimary {
  margin-top: var(--spacer);
  max-width: var(
    --btn-width
  ); /* Or var(--some-variable) if you want this to be configurable */
}
